# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>SQL</li>
<li>R </li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>NumPy</li>
<li>Pandas</li>
<li>TensorFlow</li>
</ol>

|Data Science Tools|
|-----|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

<ol>
<li>Addition: a=5, b=3, c=a+b, c=8</li>
<li>Subtraction: a=5, b=3, c=a-b, c=2</li>
<li>Multiplication: a=5, b=3, c=a*b, c=15</li>
<li>Division:a=5, b=3, c=a/b, c=1.67</li>
</ol>

In [2]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# write an expression that converts 200 minutes into hours

minute = 200
m_to_h = 60
print(minute/m_to_h)

3.3333333333333335

**Objectives:**

<ul>
<li>Introduction</li>
<li>Data Science Library</li>
<li>Table for Data Science Tools</li>
<li>Arithmetic Expressions in Python</li>
<li>Arithmetic Expressions Example</li>
</ul>

## Author

Khalil